.home-page-container {
  height: 100vh;
  background-color: #181818;
  display: flex;
}
.playlist-categories-newrelease-container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-left: 32px;
  padding-right: 74px;
  padding-top: 96px;
  padding-bottom: 96px;
  overflow-y: auto;
  gap: 64px;
}

@media (max-width: 425px) {
  .home-page-container {
    display: flex;
    flex-direction: column;
  }
  .playlist-categories-newrelease-container {
    padding-top: 32px;
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 32px;
    padding-left: 0px;
    padding-right: 0px;
    overflow-y: auto;
  }
  .loader-or-failure-container {
    background-color: #040306;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 14px;
    padding: 127px 49px;
  }

  .spotify-icon {
    width: 140px;
    height: 80px;
  }
  .loading-text {
    font-size: 30px;
  }
  .failure-text {
    font-size: 12px;
  }
  .try-again-button {
    padding: 2px 12px;
    border-radius: 3px;
    font-size: 12px;
  }
}
