.audio-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  background-color: #181818;
  padding: 24px;
  align-self: flex-end;
  border: 1px solid green;
}

.song-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  flex: 1;
}

.album-image {
  width: 60x;
  height: 60px;
  border-radius: 2px;
}
.song-and-artist {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-self: center;
}
.song-title {
  color: #ffffff;
  font-weight: 600;
  font-size: 16px;
  margin: 0px;
}

.artist-name {
  font-weight: 600;
  margin: 0px;
  font-size: 12px;
  color: #9b9b9b;
}

.audio-controls {
  flex: 2;
  width: 20%;
  justify-self: center;
  display: flex;
  justify-content: flex-start;
  background-color: transparent;
  border: 1px solid green;
}

.audio-element {
  width: 100%;
  max-width: 400px;
  height: 30px;
  outline: none;
}
.play-pause-button {
  display: none;
}
@media (max-width: 425px) {
  .audio-element {
    display: none;
  }
  .audio-controls {
    width: 24px;
    height: 24px;
    flex: 0;
  }
  .audio-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #181818;
    padding: 8px 24px;
  }
  .album-image {
    width: 40x;
    height: 40px;
  }
  .song-and-artist {
    display: flex;
    flex-direction: column;
    gap: 2px;
    align-self: center;
  }
  .song-title {
    font-size: 12px;
  }

  .artist-name {
    font-size: 10px;
    color: #9b9b9b;
  }
  .play-pause-button {
    display: block;
    background-color: transparent;
    color: white;
    border: 0px;
  }
  .play-pause-icon {
    width: 24px;
    height: 24px;
  }
}
