.playlist-list {
  margin: 0px;
  padding: 0px;
}
.horizontal-line-style {
  margin: 0px;
  border: none;
  border-top: 1px solid #475569;
}

.playlist-sidebar-container {
  display: flex;
}
@media (max-width: 425px) {
  .playlist-list {
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
  }
}
