.playlist-info-container {
  width: 100%;
  height: 295px;
  display: flex;
  gap: 24px;
  margin-left: 32px;
  margin-bottom: 32px;
}
.playlist-img {
  width: 295px;
  height: 295px;
  border-radius: 8px;
}
.info {
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-self: flex-end;
}
.feature-name {
  font-size: 16px;
  font-weight: 700;
  color: #ffffff;
  margin: 0px;
}
.playlist-name {
  font-size: 80px;
  font-weight: 600;
  color: #ffffff;
  margin: 0px;
  text-align: center;
}
.artists-names {
  font-size: 16px;
  font-weight: 700;
  color: #ffffff;
  margin: 0px;
}

.playlist-item-container {
  width: 100%;
  height: 41px;
  display: flex;
  align-items: center;
  padding: 0px 32px;
  color: #ffffff;
}
.playlist-selected-item-container {
  background-color: #303030;
}
.song-number {
  width: 5%;
}
.track-text {
  width: 20%;
  text-align: left;
}
.album-text {
  width: 25%;
  text-align: left;
}
.duration-text {
  width: 10%;
  text-align: left;
}
.added-duration {
  width: 10%;
  text-align: left;
}
.artists-text {
  width: 30%;
  text-align: left;
}
.playlist-container {
  width: 100%;
  height: 100vh;
  background-color: #181818;
  display: flex;
  padding: 0px;
}

.playlist-content-wrapper {
  width: 92%;
  height: 100%;
  flex-grow: 2;
  overflow-y: auto;
}

.playlist-content-container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 24px;
  margin: 0px;
}
.back-and-playlist-container {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.back-button {
  width: 68px;
  height: 24px;
  background-color: transparent;
  border: 0px;
  margin-top: 24px;
  margin-bottom: 24px;
  margin-left: 32px;
  display: flex;
  gap: 4px;
  justify-content: center;
}
.back-text {
  font-size: 16px;
  font-weight: 600;
  color: #f8fafc;
  margin: 0px;
  margin-top: 2px;
}
.playlist-items-heading {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 175px;
  padding-left: 57px;
}
.item-text {
  font-size: 16px;
  font-weight: 600;
  color: #f8fafc;
  overflow: hidden;
  line-height: 24px;
}
.playlist-list {
  margin: 0px;
  padding: 0px;
}
.horizontal-line-style {
  width: 98%;
  margin: 0px;
}
.audio-container {
  width: 100%;
  height: 108px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  background-color: #181818;
  padding: 24px;
  align-self: flex-end;
}

.song-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}

.album-image {
  width: 60x;
  height: 60px;
  border-radius: 2px;
}
.song-and-artist {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-self: center;
}
.song-title {
  color: #ffffff;
  font-weight: 600;
  font-size: 16px;
  margin: 0px;
}

.artist-name {
  font-weight: 600;
  margin: 0px;
  font-size: 12px;
  color: #9b9b9b;
}

.audio-controls {
  flex: 2;
  display: flex;
  justify-content: center;
  background-color: transparent;
}

.audio-element {
  width: 100%;
  max-width: 400px;
  height: 30px;

  outline: none;
}

.volume-control {
  display: flex;
  align-items: center;
  gap: 5px;
  flex: 1;
  justify-content: flex-end;
}

.volume-slider {
  width: 80px;
  height: 2px;
  accent-color: #1db954; /* Spotify green */
}
.playlist-loader-or-failure-container {
  width: 96%;
  height: 92%;
  background-color: #040306;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: center;
  justify-self: center;
  gap: 16px;
  flex-grow: 1;
}
.playlist-and-details-container {
  width: 100%;
  height: 100%;
}
.track-and-artists {
  display: none;
}
@media (max-width: 480px) {
  .playlist-info-container {
    width: 100%;
    height: 220px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    margin: 0px;
  }
  .playlist-img {
    width: 40%;
    height: 150px;
    border-radius: 4px;
  }
  .info {
    display: flex;
    flex-direction: column;
    gap: 4px;
    align-self: center;
  }
  .feature-name {
    display: none;
  }
  .playlist-name {
    font-size: 32px;
    margin: 0px;
  }
  .artists-names {
    font-size: 14px;
    font-weight: 400;
    color: #94a3b8;
    margin: 0px;
  }

  .playlist-item-container {
    width: 100%;
    height: 44px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 24px;
    color: #ffffff;
  }
  .playlist-selected-item-container {
    background-color: #303030;
  }
  .track-and-artists {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
  }

  .track-text {
    height: 21px;
    font-size: 16px;
    font-weight: 600;
    color: #ffffff;
    order: 0;
    margin: 0px;
  }
  .duration-text {
    font-size: 12px;
    font-weight: 600;
    color: #9b9b9b;
    order: 2;
    margin: 0px;
  }
  .artists-text {
    height: 16px;
    font-size: 12px;
    font-weight: 600;
    color: hsl(0, 0%, 61%);
    order: 0;
    margin: 0px;
  }

  .playlist-container {
    display: flex;
    flex-direction: column;
  }
  .playlist-content-wrapper {
    width: 100%;
    height: 92%;
    border: 1px solid blue;
  }
  .side-bar-container {
    display: none;
  }
  .playlist-content-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0px;
  }
  .back-button {
    width: 58px;
    height: 24px;
    background-color: transparent;
    border: 0px;
    margin-top: 16px;
    margin-bottom: 24px;
    margin-left: 32px;
    display: flex;
    gap: 4px;
    justify-content: center;
  }
  .back-text {
    font-size: 16px;
    font-weight: 600;
    color: #f8fafc;
    margin: 0px;
    margin-top: 2px;
  }
  .no-display {
    display: none;
  }
  .playlist-list {
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
  }
}
