.sidebar-container {
  background-color: #040306;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
  padding: 0px 8px;
  padding-top: 24px;
  padding-bottom: 30px;
}
.logout-button {
  background-color: transparent;
  border: 0px;
  cursor: pointer;
}
.logout-icon {
  width: 36px;
  height: 36px;
}
.logout-text {
  font-size: 12px;
  font-weight: 600;
  text-align: center;
  color: #9b9b9b;
  margin: 0px;
}
.spotify-logo {
  width: 82px;
  height: 33px;
}
@media (max-width: 425px) {
  .sidebar-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    padding: 16px 24px;
  }
  .spotify-logo {
    width: 64px;
    height: 24px;
    margin: 0px;
  }
  .logout-icon {
    width: 30px;
    height: 28px;
    margin: 0px;
  }
  .logout-button {
    margin: 0px;
    padding: 0px;
    display: flex;
    gap: 8px;
  }
  .logout-text {
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    color: #9b9b9b;
    margin: 0px;
    align-self: center;
    margin-bottom: 0px;
  }
}
