.album-item-container {
  display: flex;
  align-items: center;
  padding: 0px 32px;
  color: #ffffff;
  margin: 0px;
}
.track-and-artists {
  display: none;
}
.track-number {
  width: 5%;
}
.track {
  width: 40%;
}
.song-duration {
  width: 30%;
}
.artists-names {
  width: 30%;
}
.current-song-container {
  justify-self: flex-end;
}
.album-list {
  padding: 0px;
}
.back-and-album-container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.album-titles-and-album-list {
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
@media (max-width: 425px) {
  .album-no-display {
    display: none;
  }
  .album-item-container {
    justify-content: space-between;
    padding: 0px 24px;
    border: 1px solid green;
    gap: 12px;
  }
  .track-and-artists {
    width: 88%;
    display: flex;
    flex-direction: column;
  }
  .track {
    width: 100%;
    margin: 0px;
    border: 1px solid green;
  }
  .song-duration {
    width: 10%;
    border: 1px solid green;
  }
  .artists-names {
    width: 100%;
    margin: 0px;
    border: 1px solid green;
  }
}
