.current-song-container {
  justify-self: flex-end;
}
.album-list {
  padding: 0px;
}
.back-and-album-container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.album-titles-and-album-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
@media (max-width: 425px) {
  .album-titles-and-album-list {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  .track-and-artists {
    width: 88%;
    display: flex;
    flex-direction: column;
  }
  .track {
    width: 100%;
    margin: 0px;
  }
  .song-duration {
    width: 10%;
  }
  .artists-names {
    width: 100%;
    margin: 0px;
  }
  .album-no-display {
    display: none;
  }
}
